@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
  position: relative;
  background: rgb(237, 151, 104);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;  
}

body, html {
  overflow: hidden;
}



/* Сердца */
.heart {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}

/* Размеры и цвета сердец */
.h0 { background: #fcc38d; transform: scale(150); animation: move0 linear 2s infinite; }
.h1 { background: #FF5252; transform: scale(90); animation: move1 linear 2s infinite; }
.h2 { background: rgb(237, 151, 104); transform: scale(60); animation: move2 linear 2s infinite; }
.h3 { background: #fcc38d; transform: scale(40); animation: move3 linear 2s infinite; }
.h4 { background: #FF5252; transform: scale(20); animation: move4 linear 2s infinite; }
.h5 { background: rgb(237, 151, 104); transform: scale(5); animation: move5 linear 2s infinite; }
.h6 { background: #fcc38d; transform: scale(.1); animation: move6 linear 2s infinite; }

/* Анимация исчезновения */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Анимации движения сердец */
@keyframes move0 { to { transform: scale(180); background: rgb(237, 151, 104); } }
@keyframes move1 { to { transform: scale(150); background: #fcc38d; } }
@keyframes move2 { to { transform: scale(90); background: #FF5252; } }
@keyframes move3 { to { transform: scale(60); background: rgb(237, 151, 104); } }
@keyframes move4 { to { transform: scale(40); background: #fcc38d; } }
@keyframes move5 { to { transform: scale(20); background: #FF5252; } }
@keyframes move6 { to { transform: scale(5); background: rgb(237, 151, 104); } }

/* Основной контент (скрыт при загрузке) */
.content {
    text-align: center;
    padding: 50px;
    font-size: 24px;
    color: white;
}

/* После исчезновения прелоадера контент появляется */
.loaded .content {
    display: block;
}
